@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VarelaRound";
  src: local("VarelaRound"), url("../src/assets/font/VarelaRound-Regular.ttf") format("truetype");
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'VarelaRound';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}